.videos {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
  position: relative;
  z-index: 1;
  border: none;
  background-color: black;

  .video {
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.05);
    height: 98vh;
    margin: 1vh 0;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0.5em;
      padding: 0;
      text-align: center;
    }
  }
}
